/* VARIÁVEIS */
:root {
    --color-background: #FB530B;
    --color-links: #151414;
    --color-box: rgb(36, 35, 35);
    --color-backbot: rgba(16, 15, 16, 0.96);
    --color-hedlateral: #f4f1f1;
    --color-black: black;
    --color-font: #f5f5f5;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-dark-text: #444;
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --color-index: rgba(40, 168, 185, 0.055);

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;

    

}

main {
    width: 100%;
    display: flex;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    background-image: url();
}

/*CONFIGURAÇÕES PRINCIPAIS DA PÁGINA */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INÍCIO PERSONALIZAÇÃO OFERTAS */
#ofertas_content {
    background-color: var(--color-index);
    margin: 2rem 2rem 6rem 2rem;
    margin-top: 8rem;
    padding: 1rem;
    gap: 6rem;
    width: 90%;
    border-radius: 10px;
}

#ofertas_content .ofertas_left {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    margin-left: 1rem;
}

#ofertas_content h2 {
    font-size: 2rem;
}

#ofertas_content h3 {
    font-size: 1.5rem;
    color: #615f5f;
}


#ofertas_content button {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin-top: 2rem;
    width: 250px;
    border-radius: 10px;
    background-color: var(--color-background);
    margin-bottom: 2rem;
}

/* INÍCIO PERSONALIZAÇÃO TRABALHE CONOSCO */
#trabalhe_content {
    background-color: var(--color-index);
    padding: 1rem;
    margin: 6rem 2rem 6rem 2rem;
    width: 90%;
    border-radius: 10px;
}

#trabalhe_content img {
    width: 30rem;
    height: 30rem;
    border-radius: 5px;
}

#trabalhe_content h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 2rem;
    text-align: center;
}

#trabalhe_content .img_list,
.trabalheh2 {
    margin-left: 2rem;
}

#trabalhe_content .img_list {
    display: flex;
    gap: 2.5rem;
}

#trabalhe_content .img_list ul {
    font-size: 1.4rem;
    padding-left: 4rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 6rem;
    list-style: none;
}

.icon-trabalheconosco {
    margin-right: 10px;
}

#trabalhe_content button {
    background-color: var(--color-background);
    margin-left: 2rem;
}

#trabalhe_content .img_list ul .button {
    list-style: none;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

#trabalhe_content .img_list ul .button button {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 1rem 6rem;
}

/* FIM PERSONALIZAÇÃO TRABALHE CONOSCO */

/* INÍCIO PERSONALIZAÇÃO NOSSA HISTÓRIA */

#historia_content {
    background-color: var(--color-index);
    width: 90%;
    height: 100%;
    padding: 1rem;
    margin: 5rem 1rem 3rem 1rem;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}

#historia_content .historia_text p {
    font-size: 1.1rem;
}


#historia_content h2 {
    font-size: 1.5rem;
    padding: 10px 0px 3px 5px;
    text-align: center;
}

#historia_content hr {
    padding-bottom: 1px;
    margin-bottom: 20px;
}

#historia_content .historia_text {
    display: flex;
    text-align: justify;
    gap: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* FIM PERSONALIZAÇÃO NOSSA HISTÓRIA */

.main-content-cadastro {
    max-width: 60%;
    margin: 0 auto;
    padding: 0 0, 4rem 0;
    display: flex;
    flex-direction: column;
}

.main-content-cadastro h2 {
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.main-content-cadastro .main-button {
    text-align: center;
}

.main-content-cadastro button {
    width: 60%;
    text-align: center;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.senha {
    width: 100%;
}

/* messages */

.message {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
}

.message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
}

.message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}

.message-warning {
    border: 1px solid var(--color-warning-dark);
    background: var(--color-warning-light);
    color: var(--color-warning-dark);
}

.message-alert {
    border: 1px solid var(--color-alert-dark);
    background: var(--color-alert-light);
    color: var(--color-alert-dark);
}

.message-info {
    border: 1px solid var(--color-info-dark);
    background: var(--color-info-light);
    color: var(--color-info-dark);
}

.message-debug {
    border: 1px solid var(--color-debug-dark);
    background: var(--color-debug-light);
    color: var(--color-debug-dark);
}

.messages-container {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--spacing-gutter-medium) / 2);
}

.main-content {
    padding-top: 0;
}

.center {
    text-align: center;
}

.m-x {
    margin: 0 var(--spacing-gutter-medium);
}

.m-y {
    margin: var(--spacing-gutter-medium) 0;
}

.deu-erro {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}