/* VARIÁVEIS */
:root {
    --color-background: #FB530B;
    --color-links: #151414;
    --color-box: rgb(36, 35, 35);
    --color-backbot: rgba(16, 15, 16, 0.96);
    --color-hedlateral: #f4f1f1;
    --color-black: black;
    --color-font: #f5f5f5;
}

/*CONFIGURAÇÕES PRINCIPAIS DA PÁGINA */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.imglogo {
    width: 80px;
}

.header {
    background-color: var(--color-background);
    box-shadow: 1px 1px 3px var(--color-box);
    height: 7em;
    justify-content: space-between;
    padding: 0% 2% 0% 7%;
    border-radius: 5px;
}

.linksnav,
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linksnav {
    gap: 3em;
    z-index: 2;
}

.linksnav a {
    text-decoration: none;
    color: var(--color-links);
    transition: 1s;
    font-weight: bold;
}

.conteudo {
    height: 100vh;
    transition: 1s;
}

.botao_icon {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--color-blackbot);
    cursor: pointer;
}

.icon-login {
    padding: .4rem;
    border: 1px solid black;
    border-radius: 2rem;
    color: black;
    margin-right: 5px;
}

#conteudo {
    text-align: right;
    margin-left: 3rem;
    font-size: .9rem;
    display: none;
    transition: opacity 0.3s ease;
}


#container {
    text-decoration: none;
    color: var(--color-links);
    transition: 1s;
    font-weight: bold;
}

#container:hover #conteudo {
    display: block;
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .botao_icon {
        display: block;
    }

    .linksnav {
        position: absolute;
        top: 0;
        flex-direction: column;
        background-color: var(--color-hedlateral);
        height: 100vw;
        width: 30vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;

    }

}


@keyframes menusider {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -10vw;
    }
}