{% load static %}
{% include 'ofertas/partials/head.html' %}

<body>
    {% include 'ofertas/partials/header.html' %}

    <div class="container">
        <div class="image">
            <img src="{% static 'ofertas/img/Working remotely-bro.png' %}" alt="Imagem de exemplo">
        </div>
        <div class="form">
            <h2>Formulário de Contato</h2>
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="nome" class="form-control">Nome: {{form.nome}}</label>
                </div>

                <div class="mb-3">
                    <label for="nome" class="form-control">Cidade: {{form.cidade}}</label>
                </div>

                <div class="mb-3">
                    <label for="estado" class="form-control">Estado: {{form.estado}}</label>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-control">Email: {{form.email}}</label>
                </div>

                <div class="mb-3">
                    <label for="telefone" class="form-control">Telefone: {{form.telefone}}</label>
                </div>
                    <button type="submit" class="button-contato">Enviar</button>
            </form>
        </div>
    </div>

    {% include 'ofertas/partials/footer.html' %}
</body>
{% include 'ofertas/partials/script.html' %}{% load static %}
{% include 'ofertas/partials/head.html' %}

<body>