{% include 'ofertas/partials/head.html' %}

<body>
    {% include 'ofertas/partials/header.html' %}

    <form class="form_oferta" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3 campo_oferta">
            <h1 class="title_criar_oferta">Cadastrar nova oferta</h1>
            <label for="nome_produto" class="form-control">Nome do Produto: {{form.nome_produto}}</label>
        </div>

        <div class="mb-3">
            <label for="preco_antigo" class="form-control">Preço antes da oferta: {{form.valor_antigo}}</label>
        </div>

        <div class="mb-3">
            <label for="preco_novo" class="form-control">Preço durante a oferta: {{form.novo_valor}}</label>
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-control">Categoria: {{form.categoria}}</label>
        </div>

        <div class="mb-3">
            <label for="imagem_produto" class="form-control">Imagem do produto: <br>{{form.imagem}}</label>
            <button type="submit">Enviar</button>
        </div>

    </form>
    {% include 'ofertas/partials/footer.html' %}
</body>