{% load static %}
{% include 'ofertas/partials/head.html' %}

<body>
    {% include 'ofertas/partials/header.html' %}

    {% include 'ofertas/partials/messages.html' %}

    <main>
        <div id="ofertas_content">
            <div class="ofertas_left">
                <h2>Confira as nossas ofertas especias</h2>
                <h3>Qualidade e variedade de ofertas pensando em você, CLIENTE!</h3>
                <a href="{% url 'ofertas' %}"><button>Ver ofertas</button></a>
            </div>
        </div>

        <div id="trabalhe_content">
            <h2 class="trabalheh2">Já pensou em trabalhar com a gente?</h2>
            <h3 class="trabalheh3">Venha e desfrute dessa oportunidade única!</h3>
            <div class="img_list">
                <img src="{% static 'ofertas/img/Working remotely-bro.png' %}" alt="arara" />
                <ul>
                    <li>Venhar fazer parte da nossa família</li>
                    <li>Ajudamos a realizar seus sonhos</li>
                    <li>Juntos seremos mais fortes</li>
                    <li>Trabalhando por um mundo melhor</li>
                    <a href="{% url 'trabalhe_conosco' %}"><li class="button"><button>Enviar curriculo</button></li></a>
                </ul>
            </div>
        </div>

        <div id="historia_content">
            <h2>Nossa História</h2>
            <hr style="color: black" />
            <div class="historia_text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
                    iure est corporis ab. Earum cum reprehenderit dolore commodi,
                    voluptatibus perspiciatis officia cumque, veritatis eos, cupiditate
                    maiores neque iusto optio nostrum. Velit et iusto pariatur culpa
                    exercitationem corporis, hic ducimus nihil soluta iure repellendus
                    in quasi doloribus totam similique optio Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Voluptas facilis eius nobis ad
                    excepturi quasi expedita illo animi velit laboriosam iste
                    praesentium tenetur enim veniam sit in ab, impedit sequi.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
                    iure est corporis ab. Earum cum reprehenderit dolore commodi,
                    voluptatibus perspiciatis officia cumque, veritatis eos, cupiditate
                    maiores neque iusto optio nostrum. Velit et iusto pariatur culpa
                    exercitationem corporis, hic ducimus nihil soluta iure repellendus
                    in eligendi voluptates? Sed non distinctio repellendus iure,
                    consequatur eius aspernatur, cupiditate quasi enim veniam sit in ab,
                    impedit sequi.
                </p>
            </div>
        </div>
    </main>

    {% include 'ofertas/partials/footer.html' %}
</body>

{% include 'ofertas/partials/script.html' %}