{% load static %}
{% include 'ofertas/partials/head.html' %}

<body>
    {% include 'ofertas/partials/header.html' %}

    {% include 'ofertas/partials/messages.html' %}

    <main>
        <div id="ofertas_content">
            <div class="ofertas_left">
                <h2>Confira as nossas ofertas especias</h2>
                <a href="{% url 'ofertas' %}"><button>Ver ofertas</button></a>
                <h3>Qualidade e variedade de ofertas pensando em você, CLIENTE!</h3>
            </div>
        </div>

        <div id="trabalhe_content">
            <h2 class="trabalheh2">Já pensou em trabalhar com a gente?</h2>
            <div class="img_list">
                <img src="{% static 'ofertas/img/Working remotely-bro.png' %}" alt="working" />
                <ul>
                    <li><i class="fa-regular fa-square-check icon-trabalheconosco"></i>Venhar fazer parte da nossa família</li>
                    <li><i class="fa-regular fa-square-check icon-trabalheconosco"></i>Ajudamos a realizar seus sonhos</li>
                    <li><i class="fa-regular fa-square-check icon-trabalheconosco"></i>Juntos seremos mais fortes</li>
                    <li><i class="fa-regular fa-square-check icon-trabalheconosco"></i>Trabalhando por um mundo melhor</li>
                    <li class="button"><a href="{% url 'trabalhe_conosco' %}"> <button>Enviar curriculo</button></li></a>
                </ul>
            </div>
        </div>

        <div id="historia_content">
            <h2>Nossa História</h2>
            <hr/>
            <div class="historia_text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
                    iure est corporis ab. Earum cum reprehenderit dolore commodi,
                    voluptatibus perspiciatis officia cumque, veritatis eos, cupiditate
                    maiores neque iusto optio nostrum. Velit et iusto pariatur culpa
                    exercitationem corporis, hic ducimus nihil soluta iure repellendus
                    in eligendi voluptates? Sed non distinctio repellendus iure,
                    consequatur eius aspernatur, cupiditate quasi enim veniam sit in ab,
                    impedit sequi.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
                    iure est corporis ab. Earum cum reprehenderit dolore commodi,
                    voluptatibus perspiciatis officia cumque, veritatis eos, cupiditate
                    maiores neque iusto optio nostrum. Velit et iusto pariatur culpa
                    exercitationem corporis, hic ducimus nihil soluta iure repellendus
                    in eligendi voluptates? Sed non distinctio repellendus iure,
                    consequatur eius aspernatur, cupiditate quasi enim veniam sit in ab,
                    impedit sequi.
                </p>
            </div>
        </div>
    </main>

    {% include 'ofertas/partials/footer.html' %}
</body>

{% include 'ofertas/partials/script.html' %}