{% load static %}
{% include 'ofertas/partials/head.html' %}

<body>
    {% include 'ofertas/partials/header.html' %}

    <div id="master">
        <div class="main_ofertas_main">
            <div class="main_ofertas">
                <div class="main_container_card">
                    <div class="economia">
                        <img src="{% static 'ofertas/img/carrinho.png' %}" alt="carrinho de compras">
                        <h1>CONFIRA AS NOSSAS OFERTAS</h1>
                        <img src="{% static 'ofertas/img/carrinho.png' %}" alt="carrinho de compras">
                    </div>

                    <div class="container-card">
                        {% for oferta in ofertas %}
                        <div class="card">
                            <img src="{{oferta.imagem}}" alt="produto">
                            <div class="card-description">
                                <strong>
                                    <h2>{{oferta.nome_produto}}</h2>
                                </strong>
                                <strong>
                                        <p class="preco_antigo"><s>DE R$ {{oferta.valor_antigo}}</s></p>
                                        <p class="preco_word">POR</p>
                                        <p class="novo_preco">R$ {{oferta.novo_valor}}</p>
                                </strong>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    
                    <div id="footer_container_card">
                        <div class="whatsapp">
                            <i id='whatsapp' class="fa-brands fa-whatsapp"></i>
                            <p>(84) 99999-9999</p>
                        </div>
                        <div class="loc">
                            <i id="loc" class="fa-solid fa-location-dot"></i>
                            <p>Rua Alfonso, 587, São Paulo/SP</p>
                        </div>
                        <p class="ofertas_validas">Ofertas válidas até acabar o estoque!</p>
                        <hr class="ofertas_hr">
                        <p class="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque odio
                            consectetur nam vero corporis. Suscipit laborum animi eveniet expedita minima similique
                            ipsam voluptate sint facilis nulla, ut voluptatibus molestias omnis.
                            Alias esse deserunt expedita earum quaerat incidunt, quo recusandae molestias harum eos eum
                            et libero tempora consequatur sit velit neque nobis voluptas! Provident harum nostrum
                            dolorem iure molestias. Corporis, assumenda?</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM DO CONTEÚDO DO MEIO -->
    </div>
    <!-- FIM DO CONTEÚDO DO MEIO -->

    {% include 'ofertas/partials/footer.html' %}
</body>

{% include 'ofertas/partials/script.html' %}