{% include 'ofertas/partials/head.html' %}

<body>

    <h2 class="h2_admin">Lista de Ofertas</h2>
    <div class="main-content-admin">
        <table class=" table table-bordered">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Valor Antigo</th>
                    <th>Novo Valor</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for oferta in ofertas %}
                <tr>
                    <td>{{oferta.nome_produto}}</td>
                    <td>R$ {{oferta.valor_antigo}}</td>
                    <td>R$ {{oferta.novo_valor}}</td>
                    <td>{{oferta.imagem}}</td>
                    <td>
                        <a href="{% url 'ofertas_editar' id=oferta.id %}" class="btn btn-primary btm-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{% url 'ofertas_remover' id=oferta.id %}" class="btn btn-danger btm-sm"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>