{% load static %}
<footer>
    <div id="main">
        <div id="footer_content">
            <div id="request">
                <img src="{% static 'ofertas/img/logo.png' %}" alt="logo" />
                <div>
                    <h2>DÚVIDAS? PRECISA DE AJUDA?</h2>
                    <p>Fale Conosco</p>
                </div>
            </div>

            <div id="contact">
                <a href="{% url 'contato' %}"><h2>Fale Conosco</h2></a>
                <ul class="itens">
                    <li><a href="#">Nossa história</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="trabalheconosco.html">Trabalhe conosco</a></li>
                    <li><a href="contato.html">Fale conosco</a></li>
                </ul>
            </div>

            <div id="hr">
                <hr />
            </div>

            <div id="hr">
                <hr />
            </div>

            <div id="description">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi,
                    earum magnam deserunt blanditiis esse id! Accusantium fugit,
                    mollitia dolorum praesentium eum dolorem animi ipsam nam quibusdam
                    exercitationem. Eligendi, perferendis veniam.
                </p>
            </div>

            <div id="social_media">
                <p>Acompanhe nossas redes sociais</p>
                <ul id="footer_list">
                    <li>
                        <a href="#" class="footer_link" id="instagram"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#" class="footer_link" id="twiter"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="footer_link" id="facebook"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="footer_link" id="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>

            <div id="hr">
                <hr />
            </div>

            <div id="hr">
                <hr />
            </div>

            <div id="copyright">
                <p>Copyright Super varejo 2023 / Todos os Direitos Reservados</p>
            </div>

            <div id="privacidade">
                <p>Política de privacidade</p>
            </div>
        </div>
    </div>
</footer>